# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
next-env.d.ts
*.tsbuildinfo

# env & secrets
.env
.env.local
.env.*.local
!.env.example

# local libSQL / SQLite databases
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
*.sqlite
*.sqlite3

# drizzle artifacts
drizzle/meta/

# logs & os
npm-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# editors
.idea/
.vscode/*
!.vscode/extensions.json

# vercel
.vercel
